body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


h1{
    /* font-size: 42px; */
    font-size: 4em;
}

button{
    background: rgb(202, 4, 44);
    padding: 10px 30px;
    margin-right: 20px ;
    border: 0;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
img{
    max-width: 100%;
}

.intro-section {
    background-image: url('images/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.intro-section .half-width{
    width: 50%;
    padding: 50px;
}


.intro-section h1{
    color: crimson;
}
